<% provide(:title, '事業所一覧') %>
<%= render 'layouts/header' %>
<h1>事業所の一覧</h1>
<ul class="offices">
  <% @offices.each do |office| %>
    <li>
      <%= link_to office.name, office %>
    </li>
  <% end %>
</ul>
<div>
<%= link_to blogs_path, class: 'operator' do %>
  <button>戻る</button>
<% end %>
</div>

