<table>
  <tbody>
      <tr>
        <td><%= blog.start_time.strftime("%m-%d-%-H:%M") %></td>
        <td><%= blog.division %></td>
        <td><%= blog.time %></td>
        <td><%= link_to "詳細", blog %></td>
      </tr>
  </tbody>
</table>