<div class="Header">
<header>
  <div class="title">
    <%= link_to "helper schedule", '#', id: "logo" %>
    <nav>
      <ul class="menu">
        <%= link_to "事業所の一覧", offices_url %>
        <%= link_to "事業所の追加", 'offices/new' %>
      </ul>
    </nav>
  </div>
</header>
</div>